# Some file types
*.h5
*.zip
*.png

# IDE folders
.vscode/
.idea/

# idk why this is here
galaxy_data/
jobs/
sky_maps

# Certain req folders too large for repo
analysis_results/
image_data/
model_results/
fits_images*/
maxvals/
nparrays/
pybdsf_catalogs*/
dr2_cutouts*/
pybdsf*/
!src/pybdsf_analysis/

# Local file parameters
src/utils/parameters_local_override.py

# Temporary files
*.log
*.out
wandb/
**/__pycache__/
*test.sh
flagfiles/

# Python virtual environments
.venv/
venv/
